<nav>
  <div class="nav-wrapper black">
    <a href="#!" class="brand-logo">Directory Noir</a>
    <!-- <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Log In / Sign Up</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Directory</a></li>
      <li><a href="">Podcast</a></li>
      <li><a class="waves-effect waves-light btn deep-orange darken-1" href="">Register Your Business</a></li>
    </ul>
    <!-- <ul class="sidenav" id="mobile-nav">
      <li><a class="btn" href="">Directory Noir</a></li>
      <li><a href="">Log In / Sign Up</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Directory</a></li>
      <li><a href="">Podcast</a></li>
      <li><a class="waves-effect waves-light btn deep-orange darken-1" href="">Register Your Business</a></li>
    </ul> -->
  </div>
</nav>
