<form>
  <input type="search" name="" id="" placeholder="Black businesses">
  <button type="submit" class="btn waves-light">Find businesses</button>
</form>
<table>
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name A</td>
      <td>Item A</td>
      <td>Item A</td>
    </tr>
    <tr>
      <td>Name B</td>
      <td>Item B</td>
      <td>Item B</td>
    </tr>
    <tr>
      <td>Name C</td>
      <td>Item C</td>
      <td>Item C</td>
    </tr>
  </tbody>
</table>
