<div class="section">
  <!-- <form> -->
  <input [(ngModel)]="contentFilter" type="text" name="" id="filterInput" placeholder="Discover Black-Owned Businesses">
  <!-- <button type="submit" class="btn waves-light">Search</button> -->
  <!-- </form> -->
</div>
<!-- <table class="responsive-table striped">
  <thead *ngIf="filteredContent.length > 0">
    <tr>
      <th>Name</th>
      <th>Owner(s)</th>
      <th>Type</th>
      <th>Description</th>
      <th>Website</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of filteredContent">
      <td>{{business.name}}</td>
      <td>{{business.owner}}</td>
      <td>{{business.type}}</td>
      <td>{{business.description | slice:0:120}}
        <a href="">
          {{business.description.length >= 120 ? '...read more' : ''}}
        </a>
      </td>
      <td><a href="{{business.website}}" target="_blank">{{business.website}}</a></td>
      <td>{{business.contact}}</td>
    </tr>
  </tbody>
</table> -->


<!-- Old firestore setup -->
<!-- <table class="responsive-table striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner(s)</th>
      <th>Category</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th>Twitter</th>
      <th>Facebook</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of businesses">
      <td>
        <a *ngIf="business.data().website" href="{{business.data().website}}"
          target="_blank">{{business.data().name}}</a>
        <span *ngIf="!business.data().website">{{business.data().name}}</span>
      </td>
      <td>{{business.data().owner || 'N/A'}}</td>
      <td>{{(business.data().category | titlecase)  || 'N/A' }}</td>
      <td>{{business.data().contact.email || 'N/A'}}</td>
      <td>{{business.data().contact.phone || 'N/A'}}</td>
      <td>{{business.data().social.instagram || 'N/A'}}</td>
      <td>{{business.data().social.twitter || 'N/A'}}</td>
      <td>{{business.data().social.facebook || 'N/A'}}</td>
    </tr>
  </tbody>
</table> -->

<!-- test data with updated data-->
<table class="responsive-table striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner(s)</th>
      <th>Category</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th>Twitter</th>
      <th>Facebook</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of testDocs">
      <td>{{doc.data().Name}}</td>
      <td>{{doc.data().Owner}}</td>
      <td>{{doc.data().Category | titlecase}}</td>
      <td>{{doc.data().Email}}</td>
      <td>{{doc.data().Phone}}</td>
      <td>{{doc.data().Instagram}}</td>
      <td>{{doc.data().Twitter}}</td>
      <td>{{doc.data().Facebook}}</td>
    </tr>
  </tbody>
</table>
