<div class="section">
  <!-- <form> -->
  <input [(ngModel)]="contentFilter" type="text" name="" id="filterInput" placeholder="Discover Black-Owned Businesses">
  <!-- <button type="submit" class="btn waves-light">Search</button> -->
  <!-- </form> -->
</div>
<table class="responsive-table striped">
  <thead *ngIf="filteredContent.length > 0">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Description</th>
      <th>Website</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let business of filteredContent">
      <td>{{business.name}}</td>
      <td>{{business.owner}}</td>
      <td>{{business.type}}</td>
      <td>{{business.description | slice:0:120}}
        <a href="">
          {{business.description.length >= 120 ? '...read more' : ''}}
        </a>
      </td>
      <td><a href="{{business.website}}" target="_blank">{{business.website}}</a></td>
      <td>{{business.contact}}</td>
    </tr>
  </tbody>
</table>
